@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #D4AF37;
  --color-secondary: #0F172A;
  --font-sans: 'Poppins', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-arabic: 'Noto Sans Arabic', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-800 bg-gray-50;
  }
}